@(user: models.users.User)
@main("Home", user){
	<h1>Welcome to IrelandCarSales</h1>
	<h3>Here you can buy second hand cars at a cheap price</h3>

	<div class="container-fluid">
			<div class="row">
			<div class="col-sm-4">
				<div class="well sidecol">
				<h2>Services</h2>
				<h3>Some of our current services include: </h3>
				<p>New models being added to the website soon, stay tuned!!</p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-4">
					<div class="midcol">
				</div>
			</div>

			<div class="row">
					<div class="col-sm-4">
						<div class="well sidecol">
						<h2>What we garuntee</h2>
						<h4>- Car is fully valeted</h4>
						<h4>- A 3 month garuntee</h4>
						<h4>- An NCT garuntee</h4>
						<h4>- That we will not be beaten in prices</h4>
					</div>
			</div>
} 


