@(title: String, user: models.users.User)(content: Html)
<!DOCTYPE html>
<html>
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/styles.css")">
		<style>
		</style>
		<title>IrelandCarSales</title>
    </head>
    <body>
	<nav class="navbar navbar-inverse">
	    <div class="container-fluid">
		<div class="navbar-header">
		    <a class="navbar-brand" href="/">IrelandCarSales</a>
		</div>
		<ul class="nav navbar-nav">
		    <li @if(title == "Home"){class="active"}><a href="@routes.HomeController.index()">Home</a></li>
		    <li @if(title == "Products"){class="active"}><a href="@routes.HomeController.products()">Cars on Sale</a></li>
		    <li @if(title == "Contact Us"){class="active"}><a href="@routes.HomeController.contactUs()">Contact us</a></li>
			<li @if(title == "Log in"){class="active"}>
				@if(user != null) {
					<a href="@routes.LoginController.logout()">Log Out</a>
				} else {
					<a href="@routes.LoginController.login()">Log In</a>
				}
			</li>
			<li @if(title == "Admin"){class="active"}><a href="@routes.HomeController.admin()">Admin</a></li>
			<li @if(title == "Reviews"){class="active"}><a href="@routes.HomeController.reviews()">Reviews</a></li>
		</ul>
		</div>
	</div>
	</nav>

		<div class="col-sm-3">
		    <div class="sidecol">
				</div>
		</div>

	<div class="container-fluid">
		<div class="col-sm-6">
		    <div class="midcol">
                @content
		    </div>
		</div>
	</div>

			<div class="col-sm-3">
				<div class="sidecol">
					</div>
			</div>

	    <div class="row">
		<div class="col-sm-12">
		    <div class="well footer">
			Website created by Craig Byrne, Ryan Williams and Warren Berrigan
		 </div>
		</div>
	</div>
</div>
	<script src="@routes.Assets.versioned("javascripts/main.js")"></script>
    </body>
</html>
