@main("Products"){
	<h1>Products</h1>
	<h4>All cars listed are second hand, however all come fully serviced, valeted and with a valid NCT.</h4>
	<table class="table table-bordered table-hover table-condensed">
		<thead>
			<!-- The header row-->
			<tr>
				<th>ID</th>
				<th>Make</th>
				<th>Model</th>
				<th>Year</th>
				<th>Fuel Type</th>
				<th>Price</th>
				<th>Colour</th>
			</tr>
		</thead>

		<tbody>
			<!-- Product rows -->
		<tr>
			<td>1</td>
			<td>Volkswagen</td>
			<td>Polo</td>
			<td>2012</td>
			<td>Petrol</td>
			<td>7750</td>
			<td>Red</td>
		</tr>

		<tr>
			<td>2</td>
			<td>Opel</td>
			<td>Corsa</td>
			<td>2010</td>
			<td>Petrol</td>
			<td>6450</td>
			<td>Black</td>
		</tr>

		<tr>
			<td>3</td>
			<td>Renault</td>
			<td>Clio</td>
			<td>2014</td>
			<td>Petrol</td>
			<td>8800</td>
			<td>Silver</td>
		</tr>
		</tbody>
	</table>
}

