@import models.Product
@(productList: List[Product])

@main("Products"){
	<h1>Products</h1>
	<h4>All cars listed are second hand, however all come fully serviced, valeted and with a valid NCT.</h4>

	@if(flash.containsKey("success")){
		<div class="alert alert-success">
			@flash.get("success")
		</div>
	}

	<table class="table table-bordered table-striped">
		<thead>
			<!-- The header row-->
			<tr>
				<th>ID</th>
				<th>Make</th>
				<th>Model</th>
				<th>Year</th>
				<th>Fuel Type</th>
				<th>Price</th>
				<th>Colour</th>
			</tr>
		</thead>

		<tbody>
			<!-- Product rows -->
			@for(product <- productList) {
			<tr scope="row">
				<td>@product.getId</td>
				<td>@product.getMake</td>	
				<td>@product.getModel</td>
				<td>@product.getYear</td>
				<td>@product.getFuelType</td>
				<td>&euro;@product.getPrice</td>
				<td>@product.getColour</td>
				<td>
					<a href="@routes.HomeController.updateProduct(product.getId)" class="button-xs btn-danger">
						<span class="glyphicon glyphicon-pencil"></span>
					</a>
				</td>
				<td>
					<a href="@routes.HomeController.deleteProduct(product.getId)" class="button-xs btn-danger" onclick="return confirmDel();">
						<span class="glyphicon glyphicon-trash"></span>
					</a>
				</td>
			</tr>
			}
		</tbody>
	</table>
	<p>
		<a href="@routes.HomeController.addProduct()">
			<button class="btn btn-primary">Add a product</button>
		</a>
	</p>
}


