@(registerForm: Form[models.users.User], user: models.users.User)

@import helper._

@main("Register", user){
    <p class="lead">Register</p>

    @form(action=routes.HomeController.registerSubmit(), 'class -> "form-horizontal", 'role -> "form") {
        @CSRF.formField

            @inputText(registerForm("name"), '_label -> "Name", 'class -> "form-control")
            @inputText(registerForm("email"), '_label -> "Email", 'class -> "form-control")
            @inputText(registerForm("password"), '_label -> "Password", 'class -> "form-control")
            @inputText(registerForm("role"), '_label -> "Role", 'class  -> "form-control")

            <div class="actions">
                <input type="submit" value="Register" class="btn btn-primary">
                <a href="@routes.HomeController.register()">
                    <button type="button" class="btn btn-warning">Cancel</button>
                </a>
            </div>
    }
}
