@import models.users.User
@import play.api.Environment
@(userList: List[User], env: play.api.Environment, user: models.users.User)

@main("Users", user){
	<h1>Users</h1>

	@if(flash.containsKey("success")){
		<div class="alert alert-success">
			@flash.get("success")
		</div>
	}

	<table class="table table-bordered table-striped">
		<thead>
			<!-- The header row-->
			<tr>
				<th>Name</th>
				<th>Role</th>
                <th>Email</th>
            </tr>
        </thead>
        
        @for(user <- userList) {
            <tr scope="row">
                <td>@user.getName</td>	
				<td>@user.getRole</td>
                <td>@user.getEmail</td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a href="@routes.HomeController.addUser()">
        <button class="btn btn-primary">Add a user</button>
    </a>
</p>
}